.dropdown-doc {
  max-width: 1000px;
  margin: 0 auto;
}

.dropdown-item-danger {
  color: var(--error-11) !important;
}

.dropdown-item-danger:hover {
  background-color: var(--error-2) !important;
  color: var(--error-11) !important;
}

.table-action-preview {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
  background-color: var(--gray-a2);
  border-radius: var(--radius-3);
  width: fit-content;
  border: 0.5px solid var(--border-subtle);
}

.action-trigger-circle {
  width: var(--size-6);
  height: var(--size-6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  background-color: var(--surface-panel);
  border: var(--stroke-width-1) solid var(--border-subtle);
  color: var(--gray-a11);
  cursor: pointer;
  transition: all 140ms var(--ease-snappy);
}

.action-trigger-circle:hover {
  background-color: var(--gray-a3);
  color: var(--accent-9);
  border-color: var(--accent-5);
  box-shadow: var(--shadow-2);
}

.demo-list {
  display: flex;
  gap: var(--space-4);
  flex-wrap: wrap;
  align-items: flex-start;
}
