.tabs-doc {
  max-width: 800px;
}

.example-container {
  padding: 32px;
  background-color: var(--bg-surface-subtle);
  border: 1px solid var(--border-standard);
  border-radius: var(--radius-16);
  margin-top: 16px;
}

.mms-tabs-content {
  font-size: 14px;
  color: var(--text-subtle);
  line-height: 1.6;
}
