.theming-doc {
  max-width: 1000px;
  margin: 0 auto;
}

.theme-preview-sc {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding: var(--space-9);
  background-color: var(--surface-panel);
  border: var(--stroke-width-1) solid var(--border-subtle);
  border-radius: var(--radius-5);
}
