.mms-skeleton {
  background-color: var(--surface-skeleton);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-1);
}

.mms-skeleton.animate-pulse {
  animation: mms-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.mms-skeleton.animate-wave::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    transparent 0,
    var(--skeleton-wave-1) 20%,
    var(--skeleton-wave-2) 60%,
    transparent
  );
  animation: mms-wave 2s infinite;
}

@keyframes mms-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes mms-skeleton-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes mms-wave {
  100% {
    transform: translateX(100%);
  }
}
