.mms-table-container {
  width: 100%;
  overflow-x: auto;
  font-family: var(--font-family);
  background-color: transparent;
}

.mms-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  font-size: var(--font-size-3);
  line-height: 1.5;
  font-variant-numeric: tabular-nums;
}

.mms-table-variant-surface {
  border: 1px solid var(--border-subtle);
  background-color: var(--surface-panel);
  border-radius: var(--radius-xl);
  overflow: clip;
  box-shadow: var(--shadow-xsmall);
}

.mms-table-variant-ghost {
  border: none;
  background-color: transparent;
}

.mms-table-header {
  background-color: var(--surface-subtle);
}

.mms-table-column-header-cell {
  color: var(--content-subtle);
  font-weight: 600;
  white-space: nowrap;
  padding: var(--spacing-12) var(--spacing-16);
  font-size: var(--font-size-1);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-bottom: 1px solid var(--border-subtle);
}

.mms-table-cell {
  padding: var(--spacing-12) var(--spacing-16);
  border-bottom: 1px solid var(--border-subtle);
  color: var(--content-subtle);
  vertical-align: middle;
  transition: color 200ms ease;
}

.mms-table-row {
  transition: background-color 200ms ease;
}

.mms-table-row:hover {
  background-color: var(--surface-subtle);
}

.mms-table-row:hover .mms-table-cell {
  color: var(--content-strong);
}

/* Zebra Striping */
.mms-table-striped .mms-table-body .mms-table-row:nth-child(even) {
  background-color: var(--surface-app);
}

/* Removal of bottom border for last row */
.mms-table-body .mms-table-row:last-child .mms-table-cell {
  border-bottom: none;
}

/* STICKY HEADER */
.mms-table-sticky-header .mms-table-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* SIZES mapping */
.mms-table-size-1 .mms-table-cell { padding: var(--spacing-8) var(--spacing-16); font-size: var(--font-size-2); }
.mms-table-size-2 .mms-table-cell { padding: var(--spacing-12) var(--spacing-16); font-size: var(--font-size-3); }
.mms-table-size-3 .mms-table-cell { padding: var(--spacing-16) var(--spacing-24); font-size: var(--font-size-4); }

/* RADIUS */
.mms-table-radius-none { border-radius: 0; }
.mms-table-radius-xs { border-radius: var(--radius-xs); }
.mms-table-radius-lg { border-radius: var(--radius-lg); }
.mms-table-radius-xl { border-radius: var(--radius-xl); }
.mms-table-radius-full { border-radius: var(--radius-full); }
