.mms-pagination-root {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  user-select: none;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text-medium);
  font-family: inherit;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  outline: none;
  width: 32px;
  height: 32px;
  font-size: 14px;
}

.pagination-item:hover:not(.disabled):not(.active):not(.dots) {
  background-color: var(--bg-component);
  color: var(--text-high);
}

.pagination-item.active {
  background-color: var(--color-9);
  color: #fff;
  cursor: default;
}

.pagination-item.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.pagination-item.dots {
  cursor: default;
  background-color: transparent;
  color: var(--text-low);
  width: 24px;
}

.pagination-icon {
  font-size: 20px;
}

/* SIZES */
.mms-pagination-size-1 .pagination-item {
  width: 28px;
  height: 28px;
  font-size: 12px;
}

.mms-pagination-size-2 .pagination-item {
  width: 34px;
  height: 34px;
  font-size: 14px;
}

/* COLORS ROUTING */
.mms-pagination-color-brand {
  --color-9: var(--brand-9);
}

.mms-pagination-color-gray {
  --color-9: var(--gray-9);
}
