.mms-tooltip-content {
  background-color: var(--surface-tooltip);
  color: var(--content-on-solid);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-2);
  font-family: var(--font-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  box-shadow: var(--shadow-2);
  border: var(--stroke-width-1) solid var(--white-a4);
  white-space: nowrap;
  pointer-events: none;
  z-index: 3000;
  will-change: transform, opacity;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.mms-tooltip-arrow {
  position: absolute;
  width: var(--space-1);
  height: var(--space-1);
  background-color: var(--surface-tooltip);
  transform: rotate(45deg);
  z-index: -1;
}

/* SIDES */

.mms-tooltip-side-top {
  transform: translate(-50%, -100%) translateY(calc(-1 * var(--space-1)));
  animation-name: mms-tooltip-slide-up;
}
.mms-tooltip-side-top .mms-tooltip-arrow {
  bottom: calc(var(--space-1) / -2);
  left: calc(50% - (var(--space-1) / 2));
}

.mms-tooltip-side-bottom {
  transform: translate(-50%, 0) translateY(var(--space-1));
  animation-name: mms-tooltip-slide-down;
}
.mms-tooltip-side-bottom .mms-tooltip-arrow {
  top: calc(var(--space-1) / -2);
  left: calc(50% - (var(--space-1) / 2));
}

.mms-tooltip-side-left {
  transform: translate(-100%, -50%) translateX(calc(-1 * var(--space-1)));
  animation-name: mms-tooltip-slide-left;
}
.mms-tooltip-side-left .mms-tooltip-arrow {
  right: calc(var(--space-1) / -2);
  top: calc(50% - (var(--space-1) / 2));
}

.mms-tooltip-side-right {
  transform: translate(0, -50%) translateX(var(--space-1));
  animation-name: mms-tooltip-slide-right;
}
.mms-tooltip-side-right .mms-tooltip-arrow {
  left: calc(var(--space-1) / -2);
  top: calc(50% - (var(--space-1) / 2));
}

@keyframes mms-tooltip-slide-up {
  from { opacity: 0; transform: translate(-50%, -100%) translateY(0); }
  to { opacity: 1; transform: translate(-50%, -100%) translateY(calc(-1 * var(--space-1))); }
}

@keyframes mms-tooltip-slide-down {
  from { opacity: 0; transform: translate(-50%, 0) translateY(0); }
  to { opacity: 1; transform: translate(-50%, 0) translateY(var(--space-1)); }
}

@keyframes mms-tooltip-slide-left {
  from { opacity: 0; transform: translate(-100%, -50%) translateX(0); }
  to { opacity: 1; transform: translate(-100%, -50%) translateX(calc(-1 * var(--space-1))); }
}

@keyframes mms-tooltip-slide-right {
  from { opacity: 0; transform: translate(0, -50%) translateX(0); }
  to { opacity: 1; transform: translate(0, -50%) translateX(var(--space-1)); }
}
